<div class="header-bar navbar">
  <div class="container header-container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><%= t "static_pages.itravel_logo" %></a>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li><a href="#"><%= t ".home" %></a></li>
      <li><a href="#"><%= t ".login" %></a></li>
    </ul>
  </div>
</div>
